<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="BondToleranceTransactionCost" value="100000" />
    <add key="EquityToleranceTransactionCost" value="200000" />
    <add key="MarketValueTolerance" value="0" />
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
  </appSettings>
</configuration>